### !pip install camelot-py==0.9.0
### !pip install PyMuPDF==1.18.14

### ghostscript

https://www.ghostscript.com/download/gsdnld.html

In [ ]:
!dir

In [25]:
import camelot

In [26]:
#import sys
tables=camelot.read_pdf('foo.pdf')

In [27]:
type(tables)

camelot.core.TableList

In [28]:
print(tables[0])

<Table shape=(7, 7)>

In [30]:
tables[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [31]:
tables[0].to_excel('table0.xlsx')

In [29]:
tables[0].df

,0,1,2,3,4,5,6
0,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,,,
1,,,,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
2,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
3,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
4,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
5,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
6,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

In [54]:
tables0=camelot.read_pdf('example.pdf',pages='1,2,3,4,5,6,7')

In [55]:
nu_tables=tables0

In [56]:
nu_tables

In [58]:
tables0[9].df

In [59]:
tables0[15].df

,0,1,2,3
0,Expressway\ncondition,Drive distance 200 km,,
1,City real road\ncondition,Average speed,,
2,,City 1,City 2,City 3
3,,12 km/h,21 km/h,29 km/h
4,Internal \ncombustion \nvehicle,2053 L,1709 L,1532 L
5,,"₩2,796,364","₩2,328,166","₩2,087,129"
6,Parallel \nhybrid vehicle,1403 L (32 %),1236 L (28 %),1150 L (25 %)
7,,"₩1,911,141","₩1,683,813","₩1,566,637"
8,Powersplit\nhybrid vehicle,1347 L (34 %),1192 L (30 %),1119 L (27 %)
9,,"₩1,834,358","₩1,622,890","₩1,524,061"

In [39]:
df1=tables0[0].df

In [43]:
type(df1[0])

In [44]:
tables0[1].df

                      0       1       2       3
0                Season  Summer  Autumn  Winter
1          Ambient (°C)      30      25       0
2  A/C Temperature (°C)      22       -      24
3                   A/C      on     off     off
4                Heater     off     off      on

In [46]:
tables0[2].df.to_excel('tb01.xlsx')

In [ ]:
tables1=camelot.read_pdf('example.pdf',pages='2')

In [ ]:
tables1[0]

In [ ]:
tables1[1]

In [ ]:
tables2=camelot.read_pdf('example.pdf',pages='2,3')

In [ ]:
type(tables2)

In [ ]:
n=tables2

In [ ]:
tables2[0].df

In [ ]:
tables2[4].df