### report which features were selected by RFE

In [1]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

In [2]:
# example of pca for dimensionality reduction
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA

In [3]:
import pandas as pd

In [4]:
# import XLS file
path = "C:\\Users\\i\\Desktop\\2021-K-Digital-Training-main\\Big_Data_Analysis\\feature_selection\\credit_cards_dataset.csv"
data = pd.read_csv(path) # skip the first row of the spreadsheet

In [5]:
data = data.rename(columns={'default payment next month': 'DEFAULT_NEXT_MONTH'})

In [6]:
y='default.payment.next.month'
X = [name for name in data.columns if name not in [y, 'ID', 'Y_Value']]
print('y =', y)
print('X =', X)

y = default.payment.next.month
X = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [7]:
X=data[X]

In [8]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,1,2,1,46,0,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [9]:
y=data['default.payment.next.month']

In [10]:
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [11]:
# define dataset
#X, y = make_classification(n_samples=1000, n_features=23, n_informative=5, n_redundant=5,random_state=42)

In [12]:
#!cd

In [13]:
#%cd C:\Users\i\Desktop\2021-K-Digital-Training-main\Preprocessing

In [14]:
X.shape

(30000, 23)

In [15]:
y.shape

(30000,)

In [16]:
y.ndim

1

In [17]:
#(1000,)

In [18]:
trans = PCA(n_components=10)

In [19]:
X_dim = trans.fit_transform(X)

In [20]:
print(X_dim[:3, :])

[[-1.66488191e+05 -7.55381537e+04 -4.72952106e+02 -1.38240596e+02
   3.56372601e+02 -2.28581767e+01 -8.61737802e+02  7.90130839e+01
   1.89499608e+02  7.14585844e+02]
 [-1.14226977e+05  9.78067125e+03  2.73444748e+03 -1.56719589e+03
  -4.05071033e+03  6.96602606e+02 -1.51605853e+03  1.26172075e+03
  -6.26282074e+02  4.83598389e+02]
 [-9.84323622e+04 -3.34713873e+04 -2.67846979e+03 -5.10226236e+03
   3.36117708e+03  1.77028488e+02 -6.98694432e+03  1.61205566e+03
  -2.28383642e+03  4.59992560e+03]]